/* * {
    border: 1px solid red;
} */

:root {
    --header-bg-color: #7f6ecc;
    --nav-bg-color: #3e3a50;
    --main-theme-bg-color: #7667b2;
    --html-bg-color: #d6d6d6;
    --widget-bg-color: #f0f0f0;
    --toggle-bg-color-off: #ccc;
    --off-white: #fafafa;
    --white: #fff;
    --lightgrey: #f7f7f7;
    --medium-dark-grey: #aba9a9;
    --dark-grey: #6e6e6e;
    --bright-green: #39ff4a;
    --darker-bright-green: #06c315;
    --page-font: 'Martel Sans', sans-serif;
}


/*BASE PAGE STYLES*/

* {
    box-sizing: border-box;
}

html {
    background-color: var(--html-bg-color);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--page-font);
    background-color: var(--off-white);
}

h2 {
    text-align: left;
    width: 92%;
    margin: 0 auto;
    font-size: 1em;
    font-weight: 600;
}


/*HEADER STYLES*/

header {
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
    justify-content: space-around;
    height: 4em;
}

#headerIcon a:link,
#headerIcon a:active,
#headerIcon a:visited,
#userName {
    color: var(--white);
}

#headerIconWrapper,
#headerIcon,
#notificationLight,
#profileAvatar,
#userName {
    align-self: center;
    font-size: .8em;
    font-weight: 200;
}

header svg {
    fill: var(--white);
    width: 21px;
    margin-left: 16px;
}

#notificationLight,
#profileAvatar img {
    border-radius: 50%;
}

#headerIcon {
    font-size: 1.3em;
    padding-left: 4px;
}


#headerIcon a {
    text-decoration: none;
}

#headerIcon span:first-child {
    font-weight: 500;
}

#headerIcon span:last-child {
    font-size: .45em;
    vertical-align: super;
    font-weight: 600;
}

#headerIconWrapper {
    position: relative;
    height: 22px;
}

#notificationLight {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--bright-green);
    position: absolute;
    left: 34px;
    top: -6px;
}

#profileAvatar {
    padding-left: 9px;
    border-left: 1px solid var(--medium-dark-grey);
}

#profileAvatar img {
    width: 38px;
    vertical-align: middle;
}


/*NAVIGATION BAR STYLES*/

nav {
    background-color: var(--nav-bg-color);
}

#navIconWrapper {
    display: flex;
    flex-direction: row;
    height: 3.5em;
    width: 84%;
    margin: auto;
    justify-content: space-around;
}

.icon {
    fill: var(--white);
}

#navIconWrapper .icon {
    width: 33px;
}

#navIconWrapper .icon:hover {}


/*MAIN STYLES*/

main,
#pageNameWrapper {
    display: flex;
}

main {
    flex-direction: column;
    gap: 15px;
}

main>div:nth-child(n + 4),
#dashboardTab {
    border-bottom: 1px solid var(--medium-dark-grey);
}

#pageNameWrapper {
    flex-direction: row;
    height: 55px;
}

#pageName {
    font-size: 1.1em;
    font-weight: 600;
    width: 41%;
    text-align: center;
}

#dashboardTab {
    border-left: 1px solid var(--medium-dark-grey);
    width: 64%;
    background-color: var(--html-bg-color);
}

main>div:last-child {
    border-bottom: none;
    margin-bottom: 0;
}


/*ALERT STYLES*/

#alert,
#alert button {
    background-color: var(--header-bg-color);
    border-radius: 5px;
    color: var(--white);

}

#alert {
    display: flex;
    flex-direction: row;
    width: 92%;
    justify-content: space-between;
    margin: auto;
    height: 38px;
}

#alert p {
    font-size: .9em;
    font-weight: 100;
    align-self: center;
    padding-left: 15px;
    height: 25px;
}

#alert button {
    padding-right: 15px;
    border: none;
}

#alert span {
    font-weight: 600;
}


/*CHART WIDGET STYLES*/

.chartWrapper,
#trafficNavbar .button::after {
    position: relative;
}

.chartWrapper {
    width: 92%;
    margin: auto;
}

.chart .chartWrapper canvas {
    padding-bottom: 17px;
}

.chart {
    border-bottom: 1px solid var(--medium-dark-grey);
}

.chart:nth-of-type(3) .chartWrapper {
    height: 154px;
    width: 92%;
    margin: 15px auto;
}

#trafficNavbar {
    display: flex;
    flex-direction: row;
    background-color: var(--off-white);
    justify-content: center;
    gap: 3px;
    margin-bottom: 30px;
    width: 92%;
    margin: 0 auto 30px;
}

#trafficNavbar .button {
    width: 69px;
    height: 31px;
    border-radius: 25px;
    -webkit-appearance: none;
    margin: 0;
    cursor: pointer;
    font-family: var(--page-font);
    font-size: .9em;
    font-weight: 600;
}

#trafficNavbar .button:checked {
    background-color: var(--darker-bright-green);
    color: var(--white);
}


#trafficNavbar .button::after {
    top: 3px;
}

#trafficNavbar .button:nth-of-type(1)::after {
    content: 'Hourly';
    left: 10px;
}

#trafficNavbar .button:nth-of-type(2)::after {
    content: 'Daily';
    left: 16px;
}

#trafficNavbar .button:nth-of-type(3)::after {
    content: 'Weekly';
    left: 8px;
}

#trafficNavbar .button:nth-of-type(4)::after {
    content: 'Monthly';
    left: 5px;
}



/*SOCIAL MEDIA WIDGET STYLES*/

#socialWrapper {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

#socialWrapper svg {
    display: inline;
    width: 70px;
}

.socialStat {
    background-color: var(--widget-bg-color);
    width: 92%;
    height: 99px;
    margin: auto;
    border: 1px solid var(--medium-dark-grey);
    border-radius: 7px;
    position: relative;
}

.socialStat svg {
    background-color: var(--main-theme-bg-color);
    fill: var(--off-white);
    margin: 18px;
    border-radius: 50%;
    float: left;
}

.socialStat h3,
.socialStat p {
    margin: 0;
    position: inherit;
}

.socialStat h3 {
    font-size: 1.1em;
    color: var(--main-theme-bg-color);
    top: 15px;
    font-weight: 500;
}

.socialStat p {
    font-size: 2.8em;
    bottom: 5px;
    height: 80px;
    color: var(--dark-grey);
    font-weight: 200;
}


/*NEW MEMBERS & RECENT ACTIVITY STYLES*/

#newMembersWrapper,
#recentActivityWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

#newMembersWrapper article,
#recentActivityWrapper article {
    width: 92%;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--medium-dark-grey);
}

#newMembersWrapper article:last-child,
#recentActivityWrapper article:last-child {
    border-bottom: none;
}

#newMembersWrapper img,
#recentActivityWrapper img {
    border-radius: 50%;
}

#newMembersWrapper h4,
#newMembersWrapper p {
    margin: 0;
    line-height: .5em;

}

#newMembersWrapper h4 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 5px;
}

#newMembersWrapper a {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--main-theme-bg-color);
}

#newMembersWrapper p {
    font-size: 1.2em;
}

#recentActivityWrapper p {
    font-size: 1.15em;
    line-height: 1.25em;
    margin: 0 auto;
    width: 90%;
}

#recentActivityWrapper span {
    font-weight: bold;
}


/*MESSAGE USER & SETTINGS STYLES*/

#messageUser {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 1px solid var(--medium-dark-grey);
}

#messageUser,
#socialWrapper {
    padding-bottom: 30px;
}

#settings,
#emailNotificationToggle,
#publicProfileToggle,
#settingsButton {
    display: flex;
}

#settings {
    flex-direction: column;
    gap: 20px;
}

input[type='text'],
textarea,
#messageUser button,
#dropDownWrapper select,
#settingsButton button,
input[type='checkbox']::after,
input[type='checkbox'] {
    border: 2px solid var(--medium-dark-grey);
}

input[type='text'],
textarea,
#messageUser button,
#dropDownWrapper select,
#settingsButton button {
    font-family: var(--page-font);
    font-size: 1.2em;
    border-radius: 5px;
}

input[type='text'],
textarea,
#messageUser button,
#emailNotificationToggle,
#publicProfileToggle,
#dropDownWrapper,
#settingsButton {
    width: 92%;
    margin: auto;
}

input[type='text'],
textarea,
#dropDownWrapper select {
    background-color: var(--widget-bg-color);
    padding-left: 10px;
}

input[type='text'],
#dropDownWrapper select {
    height: 50px;
}

textarea {
    height: 135px;
    padding-top: 5px;
}

#messageUser button,
#settingsButton button,
input[type='checkbox']:checked::before {
    color: var(--white);
}

#messageUser button,
#settingsButton button {
    height: 55px;
}

#messageUser button,
#settingsButton button:nth-child(1),
input[type='checkbox']:checked {
    background-color: var(--main-theme-bg-color);
}

#messageUser button:active,
#settingsButton button:nth-child(1):active {
    background-color: var(--header-bg-color);
}

#emailNotificationToggle,
#publicProfileToggle,
#settingsButton {
    flex-direction: row;
    justify-content: space-between;
}

#emailNotificationToggle label,
#publicProfileToggle label {
    font-size: 1.3em;
    align-self: center;
}

#emailNotificationToggle,
#publicProfileToggle {
    margin-bottom: 1.5em;
}

input[type='checkbox'],
#dropDownWrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

input[type='checkbox'] {
    position: relative;
    width: 127px;
    height: 51px;
    border-radius: 25px;
    background-color: var(--toggle-bg-color-off);
    transition: background .3s;
    outline: none;
}

input[type='checkbox']::after,
input[type='checkbox']:checked::after {
    content: '';
}

input[type='checkbox']::after,
input[type='checkbox']:checked::before {
    position: absolute;
}

input[type='checkbox']::after {
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    background-color: var(--white);
    transition: left .3s;
}

input[type='checkbox']:checked::before {
    content: 'ON';
    top: 16px;
    left: 15px;
    font-size: large;
}

input[type='checkbox']:checked::after {
    left: 80%;
}

#dropDownWrapper select {
    width: 100%;
    background: var(--widget-bg-color) url(../svgs/dropdown_arrow.svg) no-repeat right;
    background-position: calc(100% - 20px);
    background-size: 25px;
}

#settingsButton {
    margin-bottom: 30px;
}

#settingsButton button {
    width: 45%;
}

#settingsButton button:nth-child(2) {
    background-color: var(--medium-dark-grey);
}

#settingsButton button:nth-child(2):active {
    background-color: var(--html-bg-color);
}