* {
    border: 1px solid red;
}

:root {
    --header-bg-color: #988ec5;
    --nav-bg-color: #3e3a50;
    --main-theme-bg-color: #7667b2;
    --html-bg-color: #d6d6d6;
    --widget-bg-color: #ccc;
    --off-white: #efefef;
    --white: #fff;
    --medium-dark-grey: #aba9a9;
    --dark-grey: #6e6e6e;
    --page-font: 'Martel Sans', sans-serif;
}

html {
    background-color: var(--html-bg-color);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--page-font);
    background-color: var(--off-white);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
}

nav {
    background-color: var(--nav-bg-color);
}

#navIconWrapper {
    display: flex;
    flex-direction: row;
}

svg {
    display: inline;
    width: 100px;
}

#socialWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.socialStat {
    background-color: var(--html-bg-color);
    width: 92%;
    margin: auto;
    border: 1px solid var(--medium-dark-grey);
    border-radius: 7px;
    position: relative;
}

.socialStat svg {
    background-color: var(--main-theme-bg-color);
    fill: var(--off-white);
    margin: 18px;
    border-radius: 50%;
    float: left;
}

.socialStat h3 {
    font-size: 1.4em;
    color: var(--main-theme-bg-color);
    margin: 0;
    position: inherit;
    top: 20px;
}

.socialStat p {
    font-size: 4em;
    margin: 0;
    position: inherit;
    bottom: 10px;
    height: 80px;
    color: var(--dark-grey);
}

input[type='checkbox'] {
    -webkit-appearance: none;
    position: relative;
    width: 70px;
    height: 30px;
    border-radius: 25px;
    background-color: var(--widget-bg-color);
    transition: background .3s;
    outline: none;
    cursor: pointer;
}

input[type='checkbox']::after {
    content: 'OFF';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--white);
    transition: left .3s;
}

input[type='checkbox']:checked {
    background-color: var(--main-theme-bg-color);
}

input[type='checkbox']:checked::before {
    content: 'ON';
}

input[type='checkbox']:checked::after {
    content: '';
    left: 80%;
}