/* * {
    border: 1px solid red;
} */

:root {
    --header-bg-color: #988ec5;
    --nav-bg-color: #3e3a50;
    --main-theme-bg-color: #7667b2;
    --html-bg-color: #d6d6d6;
    --widget-bg-color: #f0f0f0;
    --toggle-bg-color-off: #ccc;
    --off-white: #fafafa;
    --white: #fff;
    --lightgrey: #f7f7f7;
    --medium-dark-grey: #aba9a9;
    --dark-grey: #6e6e6e;
    --bright-green: #39ff4a;
    --page-font: 'Martel Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--html-bg-color);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--page-font);
    background-color: var(--off-white);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--header-bg-color);
    justify-content: space-around;
    height: 5em;
}

header svg,
.icon {
    fill: var(--white);
}

#headerIcon {
    align-self: center;
    font-size: 1.8em;
    padding-left: 12px;
}

#headerIcon a:link,
#headerIcon a:active,
#headerIcon a:visited,
#userName {
    color: var(--white);
}

#headerIcon a {
    text-decoration: none;
}

#headerIcon span:first-child {
    font-weight: bold;
}

#headerIcon span:last-child {
    font-size: .5em;
    vertical-align: top;
}

#headerIconWrapper {
    position: relative;
    align-self: center;
    height: 32px;
}

header svg {
    width: 30px;
    margin-left: 60px;
}

#notificationLight {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--bright-green);
    position: absolute;
    left: 86px;
    top: -5px;
    align-self: center;
}

#profileAvatar {
    align-self: center;
    padding-left: 13px;
    border-left: 1px solid var(--medium-dark-grey);
}

#profileAvatar img {
    border-radius: 50%;
    width: 50px;
}

#userName {
    align-self: center;
}

nav {
    background-color: var(--nav-bg-color);
}

#navIconWrapper {
    display: flex;
    flex-direction: row;
    height: 4em;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

#navIconWrapper .icon {
    width: 50px;
}

#navIconWrapper .icon:hover {}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#pageNameWrapper {
    display: flex;
    flex-direction: row;
    height: 80px;
}

#pageName {
    font-size: 1.8em;
    width: 41%;
    text-align: center;
}

#dashboardTab {
    border-left: 1px solid var(--medium-dark-grey);
    width: 64%;
    background-color: var(--html-bg-color);
}

.chartWrapper {
    position: relative;
    width: 400px;
    margin: auto;
}

/* main>div:nth-child(n + 3),
.chart {
    margin-bottom: 30px;
} */


.chart .chartWrapper canvas,
#messageUser,
#socialWrapper {
    padding-bottom: 30px;
}

.chart,
#dashboardTab,
main>div:nth-child(n + 4),
#messageUser,
#newMembersWrapper article,
#recentActivityWrapper article {
    border-bottom: 1px solid var(--medium-dark-grey);
}

main>div:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.chart:nth-of-type(-n+2) h2 {
    margin-bottom: 30px;
}

h2 {
    text-align: left;
    width: 92%;
    margin: 0 auto;
}

svg {
    display: inline;
    width: 100px;
}

#socialWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.socialStat {
    background-color: var(--widget-bg-color);
    width: 92%;
    margin: auto;
    border: 1px solid var(--medium-dark-grey);
    border-radius: 7px;
    position: relative;
}

.socialStat svg {
    background-color: var(--main-theme-bg-color);
    fill: var(--off-white);
    margin: 18px;
    border-radius: 50%;
    float: left;
}

.socialStat h3 {
    font-size: 1.4em;
    color: var(--main-theme-bg-color);
    margin: 0;
    position: inherit;
    top: 20px;
}

.socialStat p {
    font-size: 4em;
    margin: 0;
    position: inherit;
    bottom: 10px;
    height: 80px;
    color: var(--dark-grey);
}

#newMembersWrapper,
#recentActivityWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

#newMembersWrapper article,
#recentActivityWrapper article {
    width: 92%;
    margin: auto;
    padding-bottom: 30px;
}

#newMembersWrapper article:last-child,
#recentActivityWrapper article:last-child {
    border-bottom: none;
}

#newMembersWrapper img,
#recentActivityWrapper img {
    border-radius: 50%;
}

#newMembersWrapper h4,
#newMembersWrapper p {
    margin: 0;
    line-height: .5em;

}

#newMembersWrapper h4 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 5px;
}

#newMembersWrapper a {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--main-theme-bg-color);
}

#newMembersWrapper p {
    font-size: 1.2em;
}

#recentActivityWrapper p {
    font-size: 1.15em;
    line-height: 1.25em;
    margin: 0 auto;
    width: 90%;
}

#recentActivityWrapper span {
    font-weight: bold;
}

#messageUser {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type='text'],
textarea,
#messageUser button,
#dropDownWrapper select,
#settingsButton button,
input[type='checkbox']::after,
input[type='checkbox'] {
    border: 2px solid var(--medium-dark-grey);
}

input[type='text'],
textarea,
#messageUser button,
#dropDownWrapper select,
#settingsButton button {
    font-family: var(--page-font);
    font-size: 1.2em;
    border-radius: 5px;
}

input[type='text'],
textarea,
#messageUser button {
    width: 92%;
    margin: auto;
}

input[type='text'],
textarea,
#dropDownWrapper select {
    background-color: var(--widget-bg-color);
    padding-left: 10px;
}

input[type='text'],
#dropDownWrapper select {
    height: 50px;
}

textarea {
    height: 135px;
    padding-top: 5px;
}

#messageUser button,
#settingsButton button {
    height: 55px;
    color: var(--white);
}

#messageUser button,
#settingsButton button:nth-child(1) {
    background-color: var(--main-theme-bg-color);
}

#messageUser button:active,
#settingsButton button:nth-child(1):active {
    background-color: var(--header-bg-color);
}

#emailNotificationToggle,
#publicProfileToggle,
#dropDownWrapper,
#settingsButton {
    width: 92%;
    margin: auto;
}

#emailNotificationToggle,
#publicProfileToggle,
#settingsButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#emailNotificationToggle label,
#publicProfileToggle label {
    font-size: 1.3em;
    align-self: center;
}

#emailNotificationToggle,
#publicProfileToggle {
    margin-bottom: 1.5em;
}


input[type='checkbox'] {
    -webkit-appearance: none;
    position: relative;
    width: 127px;
    height: 51px;
    border-radius: 25px;
    background-color: var(--toggle-bg-color-off);
    transition: background .3s;
    outline: none;
    cursor: pointer;
}


input[type='checkbox']::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    background-color: var(--white);
    transition: left .3s;
}

input[type='checkbox']:checked {
    background-color: var(--main-theme-bg-color);
}

input[type='checkbox']:checked::before {
    content: 'ON';
    color: white;
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: large;
}

input[type='checkbox']:checked::after {
    content: '';
    left: 80%;
}

#dropDownWrapper select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--widget-bg-color) url(../svgs/dropdown_arrow.svg) no-repeat right;
    background-position: calc(100% - 20px);
    background-size: 25px;
    cursor: pointer;
}

#settingsButton {
    margin-bottom: 30px;
}

#settingsButton button {
    width: 45%;
}

#settingsButton button:nth-child(2) {
    background-color: var(--medium-dark-grey);
}

#settingsButton button:nth-child(2):active {
    background-color: var(--html-bg-color);
}